@font-face {
  font-family: KGCorneroftheSky;
  src: url(Fonts/KGCorneroftheSky.ttf);
}
@font-face {
  font-family: LeagueSpartan;
  src: url(Fonts/LeagueSpartan-Bold.otf);
}
@font-face {
  font-family: OpenSans;
  src: url(Fonts/OpenSans-Regular.ttf);
}
*:focus{
  outline:none !important;
}
body {
  background: white;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  font-family: LeagueSpartan;
  text-align: center;
}
#fail {
  width: 80%;
  padding: 5px;
  background: rgb(255, 233, 233);
  color: rgb(167, 32, 32);
  text-align: center;
  margin: auto;
  display: none;
}
#expired {
  width: 80%;
  padding: 5px;
  background: rgb(255, 233, 233);
  color: rgb(167, 32, 32);
  text-align: center;
  margin: auto;
  display: none;
}
#progress {
  text-align: center;
  display: none;
}
#success {
  display: none;
  width: 80%;
  padding: 5px;
  background: rgb(220, 255, 220);
  color: green;
  text-align: center;
  margin: auto;
}
#select-file {
  width: 200px;
  display: block;
  padding: 20px 30px;
  border: 0px;
  background: rgb(10, 125, 201);
  color: white;
  margin: auto;
  font-size: 16px;
}
.input {
  padding: 20px 30px;
  width: 250px;
  display: block;
  margin: auto;
  text-align: center;
  color: rgb(10, 125, 201);
  font-weight: bold;
  font-size: 16px;
}
.button {
  width: 250px;
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  border: 0px;
  background: rgb(10, 125, 201);
  color: white;
  margin: auto;
  text-align: center;
}
.button1 {
  width: 250px;
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  border: 0px;
  background: transparent;
  color: rgb(10, 125, 201);
  margin: auto;
  text-align: center;
}
.button1 span {
  margin-top: 10px;
  color: grey;
  font-size: 12px;
}
.disabled {
  opacity: 0.2;
  cursor: no-drop;
}
#loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  z-index: 1000;
  background: white;
}
