@font-face {
  font-family: KGCorneroftheSky;
  src: url(Fonts/KGCorneroftheSky.ttf);
}
@font-face {
  font-family: LeagueSpartan;
  src: url(Fonts/LeagueSpartan-Bold.otf);
}
@font-face {
  font-family: OpenSans;
  src: url(Fonts/OpenSans-Regular.ttf);
}

*:focus{
  outline:none !important;
}
body {
  padding: 0px;
  margin: 0px;
  background: white;
}
#page {
  width: 100vw;
  /* height: 100vh; */
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: column;
  /* background: #cfd8dc; */
  /* background-size: cover; */
  position: relative;
  padding-top: 8vh;
}
#video {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* min-width: 100%; */
  /* min-height: 100%; */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#graphic {
  content: "";
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#logo {
  /* height: 170px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo div {
  width: 100%;
  display: block;
}
#logo h1 {
  margin: 5px auto;
  font-size: 60px;
  width: 90%;
  display: flex;
  align-items: center;
  font-weight: bold;
}
#logo h2 {
  margin: 5px auto;
  width: 90%;
  display: flex;
  align-items: center;
}
#footer img {
  height: 15vh;
  position: fixed;
  bottom: 20px;
  right: 50px;
}
#list {
  display: block;
  overflow-y: auto;
  margin: 0px auto;
  padding: 0px 5%;
  width: 90%;
  min-height: calc(100vh - 300px);
}
#list a {
  display: inline-block;
  text-decoration: none;
  font-size: 2.3vh;
  color: black;
  font-weight: lighter;
  transition: 0.1s ease;
}
#list a:hover {
  transform: scale(1.1) translateX(5%);
}
#list a h2 {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  align-items: center;
}
#footer {
  /* display: block;
    height: 130px;
    width: 80%;
    margin: auto;
    text-align: right; */
}
#loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  z-index: 1000;
  background: white;
}
